@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
    --dark_purple: #081a51;
    --light-white: rgb(255,255,255,0.18)
}
.sidebar {
    background-color: #081a51;
}
.r-10 {
    right: 10px !important;
}
.t-25{
    top: 25px !important;
}
.t-1 {
    top: 1.3rem !important;
}
.fs-2 {
    font-size: 1.2rem !important;
}
.icon-toggle {
    color: white;
}
.b-bottom-width {
    border-bottom-width: 1px;
}

